@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Bold.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Medium.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Regular.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-SemiBold.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Bold.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Medium.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-Regular.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src:
    url('./assets/font/NotoSansJP-SemiBold.woff2') format('woff2'),
    url('./assets/font/NotoSansJP-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
